.game-button {
    background-color: var(--button-color);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: auto;
    margin: auto;
    transition-duration: 0.3s;
    margin: 6px;
}

.game-button:hover {
    background-color: var(--hover-color) !important;
}

.modal-button {
    background-color: var(--button-color) !important;
    border-style: none !important;
    border-radius: 6px !important;
    transition-duration: 0.3s !important;
}

.btn:hover {
    background-color: var(--hover-color);
    border-style: none !important;
}

.btn:active {
    background-color: var(--hover-color)!important;
    border-style: none !important;
    box-shadow: none !important;
}

.btn:focus {
    background-color: var(--hover-color)!important;
    border-style: none !important;
    outline: none !important;
    box-shadow: none !important;
}