h4, h2{
    font-weight: 700;
}

:focus {
    outline: none !important;
}

.th {
    color: white;
}

.game-body h4, div{
    text-align: center;
}

.game-button {
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: auto;
    margin: auto;
}

.game-result {

}