h4, h2{
    font-weight: 700;
}

:focus {
    outline: none !important;
}

.th {
    color: white;
}

.game-body h4, div{
    text-align: center;
}

.game-body {
    margin-top: 12px;
    background-color: var(--light-gray);
    border-radius: 6px;
    padding: 12px;
}

#balance {
    font-size: 24px;
}