h4, h2{
    font-weight: 700;
}

:focus {
    outline: none !important;
}

.th {
    color: white;
}

.game-body h4, div{
    text-align: center;
}

.game-body {
    background-color: #353A40;
    border-radius: 6px;
}

#balance {
    font-size: 24px;
}