.game-history {
    border-radius: 6px;
    margin-top: 12px;
}

.game-history td { 
    border-top: 1px solid #454d55 !important;
    vertical-align: middle;
}

.history-title {
    margin-top: 12px;
}