body {
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    background-color: #222222 !important;
    color: white !important;
    --button-color: #7bb850;
    --hover-color: #228822;
    --dark-gray: #222222;
    --light-gray: #353A40;
}