.modal {
    color: var(--dark-gray) !important;
}

.modal-header {
    color: white;
    background-color: var(--light-gray);
    justify-content: center !important;
}

.modal-footer {
    justify-content: center;
    border: none;
}