.nav-title h2{
    font-weight: 700;
}

.nav-container{
    margin-top: 12px;
}

.nav-div{
    margin: 6px;
    color: white;
}

a {
    color: white !important;
}

.nav-div:hover {
    color: var(--button-color) !important;
    cursor: pointer;
}